<h1 align="center">My Profile</h1>
<div class="row">
  <div class="col-sm-8 ">

    <br>
    <div class="panel panel-success">

      <div class="panel-heading">
        <strong><%= @user.name %></strong>
      </div>

      <div class="panel-body">
        <dl class="dl-vertical">

          <dt>My Email:</dt>
          <dd><%= @user.email %></dd><br>
          <dt>My Status:</dt>
          <dd><%= @user.status %></dd>


        </dl>
      </div>
    </div>

  </div>

</div>